<%- include('../partials/header') %>

    <form action="/signup" method="post">
        <input type="email" name="username" id="" placeholder="Email">
        <input type="password" name="password" id="" placeholder="password">
        <input type="number" name="phone" id="" placeholder="Phone number">
        <button type="submit">Register</button>
    </form>

<%- include('../partials/footer') %>